<div class="card">
  <div class="card-header">
    <h3>Editar Dados Perfil</h3>
      <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <ul class="m-auto">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
  </div>
  <div class="card-body">

    <%= form_with(url: users_backoffice_profile_path, model: @user, local: true) do |form| %>

      <div class="form-group">
        <div class="row">
          <div class="col-12 mt-2 col-sm-6">
            <%= form.label :first_name %>
            <%= form.text_field :first_name, class: "form-control", placeholder: "Nome" %>
          </div>
          <div class="col-12 mt-2 col-sm-6">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class: "form-control", placeholder: "Sobrenome" %>
          </div>
        </div>
      </div>

      <%= form.fields_for :user_profile do |profile_form| %>

        <%= profile_form.label :gender %>
        <div class="form-group">
          <div id="gender" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn <%= gender_select(@user, "M")%>">
              <%= profile_form.radio_button :gender, "M" %> Masculino
            </label>
            <label class="btn <%= gender_select(@user, "F")%>">
              <%= profile_form.radio_button :gender, "F" %> Feminino
            </label>
          </div>
        </div>

        <%= javascript_tag  do %>
          var labels = document.querySelectorAll('div#gender label');

          labels.forEach((label) => {
            label.addEventListener('click', () => {
              label.classList.remove('btn-default');
              label.classList.add('btn-primary');

              labels.forEach((lbl) => {
                if(lbl !== label) {
                  lbl.classList.remove('btn-primary');
                  lbl.classList.add('btn-default');                  
                };
              });
            });
          });
        <% end %>

        <div class="form-group">
          <%= profile_form.label :address %>
          <%= profile_form.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= profile_form.label :birthdate %>
          <%= profile_form.text_field :birthdate, class: "form-control" %>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", readonly: true %>
      </div>

      <div class="form-group">
        <%= form.label :password %>
        <%= form.text_field :password, class: "form-control", type:"password", placeholder: "Senha" %>
      </div>
      <div class="form-group">
        <%= form.label :password_confirmation %>
        <%= form.text_field :password_confirmation, class: "form-control", type:"password", placeholder: "Confirmação de Senha" %>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>

    <% end %>

  </div>
  <div class="card-footer">
  </div>
</div>
