<div class="jumbotron">
  <h3><%= jumbotron_message %></h3>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form| %>
    <div class="card">
        <h5 class="card-header" style="background-color: #E9ECEF;">
          <%= link_to "#{question.subject.description} (#{question.subject.questions_count})", site_search_subject_path(question.subject_id, question.subject.description), class: "badge badge-info mr-2" %>
          <%= question.description %> 
        </h5>
        <div class="card-body">
          <ul>
            <% question.answers.each do |answer|%>
              <li style="list-style:none">
                <label class="form-check-label">
                  <%= radio_button_tag 'answer_id', answer.id %> <%= answer.description %>
                </label>
              </li>
            <% end %>
            <li style="list-style:none">
              <%= form.submit 'Responder', class: "btn btn-default btn-sm mt-2", id: "submit_#{question.id}" %>
            </li>
          </ul>
        </div>
    </div>
  <% end %>
<% end %>

<div class="card">
  <div class="card-footer">
    <%= paginate @questions %>
  </div>
</div>

<%= javascript_tag nonce: true do %>
  toastr["info"]("Nenhum registro encontrado");
<% end if @questions_count == 0 %>
