<!DOCTYPE html>
<html lang="pt-br">

  <%= render 'layouts/head' %>

  <body>
    <main role="main" class="container">
      <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-3" style="background-color: #E9ECEF;">
        <div class="brand-link">
          <%= image_tag("logo.png", options = { alt: "Time to answer Logo", class: "brand-image img-circle elevation-3", style: "opacity: .8" }) %>
        </div>
        <%= link_to 'Time to Answer', root_path, class: "navbar-brand"%>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <%= form_with(url: site_search_path, local: true, method: :get, class: "form-inline ml-3") do |form| %>
            <div class="input-group input-group-sm">
              <%= form.text_field :term, class: "form-control form-control-navbar", placeholder: t('views.actions.search') %>
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          <% end %>

          <ul class="navbar-nav ml-auto">

            <% unless user_signed_in? %>

            <li class="nav-item">
              <a class="nav-link" href="?locale=pt-BR">Português</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="?locale=en">English</a>
            </li>

              <%= link_to t('views.actions.sign_in'), new_user_session_path, class:"nav-link"%>
              <%= link_to  t('views.actions.sign_up'), new_user_registration_path, class:"nav-link"%>

            <% else %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-user-circle mr-2"></i> <%= current_user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to users_backoffice_welcome_index_path, class:"dropdown-item" do %>
                    <i class="far fa-id-card mr-2"></i> <%= t('views.actions.profile') %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                    <i class='fas fa-sign-out-alt mr-2'></i> <%= t('views.actions.logout') %>
                  <% end %>
                </div>
              </li>

            <% end %>

          </ul>

        </div>
      </nav>
      <%= yield %>
    </main>
  
    <%= render 'layouts/notifications' %>
  </body>
</html>
