<!DOCTYPE html>
<html lang="pt-br">

  <%= render 'layouts/head' %>

  <body>
    <main role="main" class="container">
      <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-3" style="background-color: #E9ECEF;">

        <%= link_to 'Time to Answer', root_path, class: "navbar-brand ml-4 mr-4"%>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <%= form_with(url: site_search_path, local: true, method: :get, class: "form-inline my-2 my-lg-0") do |form| %>
            <%= form.text_field :term, class: "form-control mr-sm-2", placeholder: "Pesquisar pergunta" %>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          <% end %>

          <ul class="navbar-nav ml-auto">
            <% unless user_signed_in? %>

              <%= link_to 'Login', new_user_session_path, class:"nav-link"%>
              <%= link_to 'Cadastrar-se', new_user_registration_path, class:"nav-link"%>

            <% else %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to users_backoffice_welcome_index_path, class:"dropdown-item" do %>
                    <i class="far fa-id-card"></i> Perfil
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to destroy_user_session_path, method: :delete, class:"dropdown-item" do %>
                    <i class='fas fa-sign-out-alt'></i> Sair
                  <% end %>
                </div>
              </li>

            <% end %>

          </ul>

        </div>
      </nav>

      <div class="jumbotron">
        <% unless params[:term] %>
          <h3>Últimas perguntas cadastradas...</h3>
        <% else %>
          <h3><%= "Reulstados para o termo: \"#{params[:term]}\"."%></h3>          
        <% end %>
      </div>
        <%= yield %>
    </main>
  
    <%= render 'layouts/notifications' %>
  </body>
</html>
