<!DOCTYPE html>
<html lang="pt-br">

  <%= render 'layouts/head' %>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">

      <nav class="main-header navbar navbar-expand navbar-white navbar-light">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item d-none d-sm-inline-block">
            <%= link_to 'Ir para Site', root_path, class: "nav-link" %>
          </li> 
        </ul>

        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <ul class="list-group">
                  <li class="nav-link">
                    <%= current_user.email %>
                  </li>
                  <li class="nav-link">
                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class='fas fa-sign-out-alt'></i> Sair
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

      </nav>

      <aside class="main-sidebar sidebar-light-primary elevation-4">
        <a href="#" class="brand-link">
          <!--img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"-->
          <span class="brand-text font-weight-light">Backoffice Usuário</span>
        </a>

        <div class="sidebar">

          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <%= image_tag("avatar.png", options = {class: "img-circle elevation-2"}) %>
            </div>
            <div class="info">
              <a href="#" class="d-block">Alexander Pierce</a>
            </div>
          </div>

          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

              <li class="nav-item">
                <%= link_to "#", class:"nav-link" do  %>
                  <i class="nav-icon fas fa-user"></i>
                  <p>Dados do Perfil</p>
                <% end %>
              </li>

            </ul>          
          </nav>

        </div>

      </aside>

      <div class="content-wrapper">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-4">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="p-3">
          <h5>Title</h5>
          <p>Sidebar content</p>
        </div>
      </aside>

      <footer class="main-footer">
        <div class="float-right d-none d-sm-inline">
          <p>barufiTech</p>
        </div>
        <strong>Copyright &copy; <%= l(DateTime.now )%></strong>
      </footer>
    </div>
    <%= render 'layouts/notifications' %>
  </body>
</html>
